<!-- main用のdiv -->
  	<div class="space">
  		<div class="main-visual-content">
  			<p class="head"><br><br>Check out the bottom of the page, <br>And taste it through your eyes.</p>
  		</div>
  	</div>
  	<!-- Hero -->
  <section class="et-hero-tabs">
    <h1>俺様が作った力作達を食らえ</h1><br>
    <h3>本能のまま、食欲の奴隷となるがいい！！！</h3>
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#tab-es6">１</a>
      <a class="et-hero-tab" href="#tab-flexbox">２</a>
      <a class="et-hero-tab" href="#tab-react">３</a>
      <a class="et-hero-tab" href="#tab-angular">in preparation</a>
      <a class="et-hero-tab" href="#tab-other">in preparation</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>

  <!-- Main -->
  <main class="et-main">
    <%= link_to '/details/show' do %>
      <section class="et-slide" id="tab-es6">
        <div class="main-visual-content">
          <h2>ネパールチキンカレー <br>& <br>鯖キーマ</h2>
          <h2>show more☜</h2>
        </div>
      </section>
    <% end %>
    <%= link_to '/details/show2' do %>
      <section class="et-slide" id="tab-flexbox">
        <div class="main-visual-content">
          <h2>比内地鶏白湯チキンカレー<br>&<br>熟成バルサミコの三元豚ビンダルー</h2>
          <h2>show more☜</h2>
        </div>
      </section>
    <% end %>
    <%= link_to '/details/show3' do %>
      <section class="et-slide" id="tab-react">
        <div class="main-visual-content">
          <h2>ネパールチキンカレー<br>&<br>鯖キーマ</h2>
          <h2>show more☜</h2>
        </div>
      </section>
    <% end %>
    <section class="et-slide" id="tab-angular">
      <h1>comming soon...</h1>
      <!--<h3>something about angular</h3> -->
    </section>
    <section class="et-slide" id="tab-other">
      <h1>comming soon...</h1>
      <!--<h3>something about other</h3>-->
    </section>
     <%= render 'layouts/footer' %>
  </main>