<!-- main用のdiv -->
  	<!-- Hero -->

    <!-- //= require jquery
//= require jquery_ujs
//= require rails-ujs
//= require activestorage
//= require_tree .
//= require jquery

これの並びが大切みたい。順番を間違えると、スマホでは対応しなくなる。

//= require turbolinks　これを消すと、写真がスマホでも自動で動くようになった。
-->

<div class='container'>
      <div class='single-item'>
        <div>
          <div class="aaa"></div>
        </div>
        <div>
          <div class="aaa"></div>
        </div>
        <div>
          <div class="aaa"></div>
        </div>
        <div>
          <div class="aaa"></div>
        </div>
        <div>
          <div class="aaa"></div>
        </div>
        <div>
          <div class="aaa"></div>
        </div>
      </div>
    </div>