<!-- main用のdiv -->
  	<div class="space">
  		<div class="main-visual-content">
  			<p class="head"><br><br>Check out the bottom of the page, <br>And taste it through your eyes.</p>
  		</div>
  	</div>
  	<!-- Hero -->
  <section class="et-hero-tabs">
    <h1>俺様が作った力作達を食らえ</h1><br>
    <h3>本能のまま、食欲の奴隷となるがいい！！！</h3>
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#tab-es6">１</a>
      <a class="et-hero-tab" href="#tab-flexbox">２</a>
      <a class="et-hero-tab" href="#tab-react">３</a>
      <a class="et-hero-tab" href="#tab-angular">in preparation</a>
      <a class="et-hero-tab" href="#tab-other">in preparation</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>

  <!-- Main -->
  <main class="et-main">
    <section class="et-slide" id="tab-es6">
      <h1>ES6</h1>
      <h3>something about es6</h3>
    </section>
    <section class="et-slide" id="tab-flexbox">
      <h1>Flexbox</h1>
      <h3>something about flexbox</h3>
    </section>
    <section class="et-slide" id="tab-react">
      <h1>React</h1>
      <h3>something about react</h3>
    </section>
    <section class="et-slide" id="tab-angular">
      <h1>comming soon...</h1>
      <!--<h3>something about angular</h3> -->
    </section>
    <section class="et-slide" id="tab-other">
      <h1>comming soon...</h1>
      <!--<h3>something about other</h3>-->
    </section>
     <%= render 'layouts/footer' %>
  </main>