<%= render 'layouts/main-visual' %>
<%= render 'layouts/layouts' %>
<div class="space"> <!--これを入れて、スペースを確保している。 -->
	<div class="main-visual-content-history">
		<p class="head-history">
			<br>
2019.9 大学生店主が三軒茶屋のmisyu barを間借りして開店。<br>
<br>
<br>
2020.11 店主の在学する法政大学の大学祭に出店。２日間で250食の大盛況<br>
<br>
<br>
2020.5 新型コロナウイルスの感染拡大に伴いデリバリーにて週一回の営業を開始<br>
<br>
<br>
2020.6 高円寺のトルカリ高円寺にて1ヶ月限定のディナー営業<br>
<br>
<br>
2020.7 古巣三軒茶屋のmisyu barで単発営業。<br>その際のインスタグラムの投稿が#東京カレー　#間借りカレー　などでトレンドトップに
<br>
<br>
2020.8 渋谷のクラフトビールバーgaus にて<br>毎週の間借り営業を再開。現在毎週土曜日のランチタイム限定で営業中。<br>
		</p>
	</div>
</div>
</div><!--部分テンプレートのmein-visualのdivをここで閉じている。これを消すと、footerが上に行ってしまう。-->
<%= render 'layouts/footer' %>