<%= render 'layouts/main-visual' %>
<%= render 'layouts/layouts' %>

<div class="main-visual-content-history">
	<p class="head">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		coming soon....
	</p>
</div>
</div><!--部分テンプレートのmein-visualのdivをここで閉じている。これを消すと、footerが上に行ってしまう。-->
<%= render 'layouts/footer' %>