<%= render 'layouts/main-visual' %>
<%= render 'layouts/layouts' %>

<div class="main-visual-content-history">
	<p class="head">みなさん、こんにちは。
今回、本部役員に立候補させていただいた○年○組の○○○○です。
<br>
私が立候補した動機は、ふたつあります。<br>１つは、以前までの生徒会の活動を見てきて
○中のために○○○○(具体的内容)などの仕事をしていて、～～のようなところがすごいなと思い、<br>
私も生徒会の一員となり、○中のために○○などで私が学校を支える一人になりたいからです。<br>二つ目は、今まで受け継がれてきた○中の良き文化を生徒一人一人が誇れるようさらに向上させたいからです。<br>

私が本部役員になりましたならば、(挨拶を誰もが進んで明るくできるような生活をつくりあげます。)<br>
また、ひとりひとりが学校を良くしようという考えを、私が全校に発信します。(<br>そのために、意見箱の設置などをして、皆さんの意見を聞き、生徒会と全校が連携して学校を改善できる環境をつくります。)<br>

私たちの学校は、私たちで作り、よりよい学校を共にめざしましょう！<br>

(私は、元気で明るく、笑顔で過ごせる学校にします。<br>
そして、○中でよかった！と思える
最高な学校生活を一人一人に届けます。)<br>

生徒の意見を尊重し笑顔満ちる○中を目指します。<br>


みなさんの「ガンバレ！」という声を1票として、
私に投票していただけませんか。<br>
是非清き1票をよろしくお願いします。<br>

ご清聴、ありがとうございました。
	</p>
</div>
</div><!--部分テンプレートのmein-visualのdivをここで閉じている。これを消すと、footerが上に行ってしまう。-->
<%= render 'layouts/footer' %>