<%= render 'layouts/main-visual' %>
<div class="space"> <!--これを入れて、スペースを確保している。 -->
  <div class="main-visual-content">
	<p class="head">Welcome to soooraj curry <br>Please enjoy the original taste</p>
	<h1 class="head"><%= link_to "show more ☜", homes_index_path %></h1>
  </div>
</div>
</div><!--部分テンプレートのmein-visualのdivをここで閉じている。これを消すと、footerが上に行ってしまう。-->
<%= render 'layouts/footer' %>