<%= render 'layouts/main-visual' %>
	<%= render 'layouts/layouts' %>

<div class="space"> <!--これを入れて、スペースを確保している。 -->
<div class="main-visual-content-concept">
<p class="location-text">Sooraj Cuuryは２０１９年9月に大学生の店主がバーを間借りする形で、オープンしました。
以後、さまざまな試行を繰り返し、日々美味しさを追求しています。多彩なスパイスを組み合わせて完成するカレーは奥が深い料理です。スパイスの組み合わせは無限に等しいです。その中からカレーに適した組み合わせを導き出すことは、しばしば労力を要します。ですが、その努力が実ったときは喜びに変えがたいものがあります。
当店が提供するカレーはそのような過程の中からできました。
ぜひご堪能ください。</p>
</div>
</div>
	</div>
<%= render 'layouts/footer' %>
