<%= render 'layouts/main-visual' %>
<%= render 'layouts/layouts' %>

<div class="main-visual-content-location">

<h2 class="location-text-title">Address</h2>
<p class="location-text">東京都渋谷区神山町16-4ヴィラメトロポリタン2A</p>
<h2 class="location-text-title">Store Name</h2>
<p class="location-text">Craftbeer Gau's</p>
<p class="location-text">※間借りして営業しています</P>
<h2 class="location-text-title">Business Hours</h2>
<p class="location-text">every saturday　11:00〜15:00(L.O14:30)</p>
<h2 class="location-text-title">Map</h2>
<a href="https://www.google.com/maps/place/Craftbeer+Gau's/@35.6632394,139.6919102,17z/data=!3m1!4b1!4m5!3m4!1s0x60188cac5a291515:0x11465468c72ea2c9!8m2!3d35.6632394!4d139.6940989?hl=ja-JP">
<p class="location-text">Click here to go to Google Map ☜</p></a>
</div>
</div><!--部分テンプレートのmein-visualのdivをここで閉じている。これを消すと、footerが上に行ってしまう。-->
<%= render 'layouts/footer' %>