<%= render 'layouts/main-visual' %>
<%= render 'layouts/layouts' %>
<div class="space"> <!--これを入れて、スペースを確保している。 -->
<div class="main-visual-content-location">

<h2 class="location-text-title">Address</h2>
<p class="location-text">東京都渋谷区神山町16-4ヴィラメトロポリタン2A</p>
<h2 class="location-text-title">Store Name</h2>
<p class="location-text">Craftbeer Gau's</p>
<p class="location-text">※間借りして営業しています</P>
<h2 class="location-text-title">Business Hours</h2>
<p class="location-text">every saturday　11:00〜15:00(L.O14:30)</p>
</div>
</div>
</div><!--部分テンプレートのmein-visualのdivをここで閉じている。これを消すと、footerが上に行ってしまう。-->
<%= render 'layouts/footer' %>