<META http-equiv="Refresh" content="5;URL=/homes/home">
<div class="loading">
    <div class="loading-text">
        <span class="loading-text-words">S</span>
        <span class="loading-text-words">O</span>
        <span class="loading-text-words">O</span>
        <span class="loading-text-words">R</span>
        <span class="loading-text-words">A</span>
        <span class="loading-text-words">J</span>
        <span class="loading-text-words">C</span>
        <span class="loading-text-words">U</span>
        <span class="loading-text-words">R</span>
        <span class="loading-text-words">R</span>
        <span class="loading-text-words">Y</span>
    </div>
</div>
