/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  margin: 119px auto;
  padding: 40px;
  width: 80%;
  height: 500px;
  color: #333;
  background: rgba(255, 255, 255, 0.5);
}

.slick-slide {
  text-align: center;
  color: #419be0;
  background: white;
}

.aaa{
  background-image: url(IMG_6314.JPG);
  background-size: cover;
  background-position: center;
  height: 400px;
}

@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

@mixin position-center($text-align: center) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: $text-align;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9999;
}

.loading-text {
    @include position-center;
    width: 100%;
    height: 100px;
    line-height: 100px;
    span {
        display: inline-block;
        margin: 0 5px;
        color: #fff;
        font-size: 27px;
    font-family: 'Quattrocento Sans', sans-serif;
        @for $i from 0 through 11 {
            &:nth-child(#{$i + 1}) {
                filter: blur(0px);
                animation: blur-text 1.5s (#{$i/5})+s infinite linear alternate;
            }
        }
    }
}

@keyframes blur-text {
    0% {filter: blur(0px);}
    100% {filter: blur(4px);}
}


.hhh{
  width:20%;
  float:right;
  height: 48px;
   background-color: rgba(255, 255, 255, 0.3);
}

#menu{
  float: left;
  list-style-type: none;
  width: 20%;
  height: 48px;
  margin-left: auto;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
#menu li{
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu li a{
  display: block;
  margin: 0;
  padding: 15px 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  height: 48px;
}


#menu li ul{
  list-style: none;
}

/*

#menu li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
    padding: 0;
}

#menu li:last-child ul{
  left: -100%;
  width: 100%
}
*/

#menu li ul li{
  overflow: hidden;
  width: 200%;
  height: 0;
  color: rgba(255, 255, 255, 0.2);
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
  background-color: rgba(255, 255, 255, 0.2);
}



#menu li ul li a{
  padding: 12px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: left;
  font-size: 14px;
  font-weight: normal;
}
#menu li:hover > a{
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Corben', cursive;
}

#menu li:hover ul li{
  overflow: visible;
  height: 48px;
  border-bottom: 1px solid #fff;
}
#menu li:hover ul li:first-child{
  border-top: 0;
}
#menu li:hover ul li:last-child{
  border-bottom: 0;
}



.test-header{
  width: 100%;
  height: 90px;
  background-color: #000;
}

.test-title{
  width: 70%;
  height: 90px;
  margin-left: auto;
}

.curry{
  width: 60%;
  height: 90px;
  margin: auto;
  padding: 20px 0;
  text-align: center;
  display: inline-block;
  float: left;
}

.icon{
  width: 40%; /* 横幅 */
  height: 90px; /* 高さ */
  margin: 0 0 0 auto;
  float: right;
  background-size: 50% 100%;
  background-position: center right;
  background-image: url(sooraj.JPG);
  margin: auto;
  position: relative;
}

/*

.insta{
  width: 50%;
  height: 90px;
  margin: 0 0 0 auto;
  padding: 20px 0;
  background-color: #000;
  float: right;
}

.insta-space{
  padding: 0px 0px 0px 40px;
}

*/

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, nav, .head {
  font-family:  "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

h1.curry{
  color: #fff;
  font-family:  "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

h6{
  font-size:10px;
}

.show{
  font-family: "游明朝体","YuMincho";
}

.header{
  width: 100%;
  height: 90px;
}

.sooraj_jpg{
  width: 100%; /* 横幅 */
  height: 90px; /* 高さ */
  background-size: cover;
  background-position: center;
  background-image: url(sooraj.JPG);
  margin: auto;
}

.head{
	width: 100%;
  height: 90px;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.header-title{
  width: 50%;
  height: 90px;
  margin: auto;
  font-size: 20px;
}
.title{
  width: 100%;
  height: 90px;
  padding: 10px 0;
  color: #FFF;
  text-align: center;
}

.header-space {
  position: absolute;
  top: 19px;
  right: 100px;
}

.header-nav{
  width: 100%;
  height: 90px
}

div.header-nav{
  background-color: #000
}



.nav_list{
  text-align: center;
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
}

.header_menu{
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 25px;
}

a {
    text-decoration: none;
    color: #FFF;
}

.main-visual {
  width: 100%; /* 横幅 */
  height: 800px; /* 高さ */
  background-image: url(IMG_5918.JPG);
  background-size: cover;
  background-position: center;
}

.space{
  padding: 100px 0;
}
.main-visual-content{
  width: 40%; /* 横幅を指定 */
  height: 200px; /* 親の高さに揃える */
  padding: 20px 0;
  margin: auto;
  background-color: rgba( 0, 0, 0, 0.5);
}

.main-visual-content-concept{
  width: 50%; /* 横幅を指定 */
  /*height: 620px; 親の高さに揃える */
  /*padding: 10px 0;*/
  margin: 0px auto;
  background-color: rgba( 0, 0, 0, 0.5);
}

.main-visual-content-history{
  width: 70%; /* 横幅を指定 */
  height: 500px; /* 親の高さに揃える */
  padding: 10px 0;
  margin: 65px auto;
  background-color: rgba( 0, 0, 0, 0.5);
}

.main-visual-content-location{
  width: 50%; /* 横幅を指定 */
  /*height: 620px; 親の高さに揃える */
  /*padding: 10px 0;*/
  margin: 0px 30px;
  background-color: rgba( 0, 0, 0, 0.5);
}

.location-text{
  padding: 5px 20px 20px 20px;
  margin: 0 auto;
  color: #FFF;
  /*text-align: center;*/
}

.location-text-title{
  padding: 30px 20px 20px 20px;
  margin: 0 auto;
  color: #FFF;
  /*text-align: center;*/
}

.location-text-store_name{
  padding: 5px 0;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
}

p.location-text-store_name{
  padding: 5px 0px 20px 0px;
}

.main {
  width: 100%; /* 横幅いっぱい */
  height: 800px; /* 高さ1400px（多めに設定） */
  background-color: 0,0,0,0; /* 背景色clear */
}

p.head{
  display:inline-block;
  color: #FFF
}

.main-visual-content-show{
  width: 100%; /* 横幅を指定 */
  height: 600px; /* 親の高さに揃える */
  padding: 10px 0;
  margin: 65px auto;
  background-color: rgba( 0, 0, 0, 0.5);
}

.show {
    width: 90%;
    height: 450px;
    margin: 0px auto;
    margin-top: 70px;
    background-color: red;
    position: relative;
}

.show-show{
  width: 100%; /* 横幅を指定 */
  height: 250px; /* 親の高さに揃える */
  background-size: cover;
  background-position: center;
}

.show-introduction{
  width: 100%; /* 横幅を指定 */
  height: 200px; /* 親の高さに揃える */
  background-color: #fff;
}

.show-title{
  text-align: center;
  height: 36px;
  padding-top: 20px;
}

.show-ingredients{
  text-align: center;
  height: 100px;
  background-color: red;
}


.footer {
  width: 100%;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
  bottom: 0; /*下に固定*/
}


.et-hero-tabs{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    position: relative;
    background: #eee;
        text-align: center;
        padding: 0 2em;
    h1 {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 1rem;
    }
    h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 0.6;
        margin: 0 0 0 20px;
    }
}
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    width: 60%;
    height: 80vh;
    position: relative;
    background: #eee;
        text-align: center;
        padding: 0 2em;
    h2 {
        font-size: 1rem;
        margin: 0;
        letter-spacing: 1rem;
        opacity: 0.6;
        margin: 20px 0 0 0;
    }
    h1 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 0.6;
        margin: 0 0 0 20px;
    }
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
    &--top {
        position: fixed;
        top: 0;
    }
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
        transition: all 0.5s ease;
        font-size: 0.8rem;
      &:hover {
            color:white;
      background: rgba(102,177,241,0.8);
            transition: all 0.5s ease;
    }
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

#tab-es6{
  background-image: url(IMG_6314.JPG);
  background-size: cover;
  background-position: center;
}

#tab-flexbox{
  background-image: url(IMG_6315.JPG);
  background-size: cover;
  background-position: center;
}

#tab-react{
  background-image: url(IMG_6316.JPG);
  background-size: cover;
  background-position: center;
}

@media (max-width: 375px) {
  .space {
    padding: 100px 0 0 0;
  }
  .main-visual-content {
    width: 80%;
  }
  .main-visual-content-location{
    margin-top: 100px;
  }
    .et-slide {
    height: 20vh;
  }
    .test-title {
    text-align: center;
  }
    a {
    font-size: 20px;
}
    .curry {
    width: 55%;
    padding: 30px 0;
  }
    h1.curry{
    font-size: 19px;
    }
  .header_menu {
    display: block;
    }
  .nav_list {
    text-align: left;
    }
  h6{
  font-size: 12px;
}
  .main-visual-content-location {
    width: 80%;
    }
  #menu li a {
    font-size: 18px;
    }
  #menu li ul li a{
  font-size: 18px;
    }
#menu li:hover > a{
  font-size: 18px;
  font-weight: bold;
  }
}

@media (min-width:376px) and(max-width: 425px) {
  .space {
    padding: 80px 0 0 0;
  }
  .main-visual-content {
    width: 80%;
  }
  h1.curry{
    font-size: 25px;
    }
  a {
    font-size: 20px;
    }
  .curry {
    padding: 30px 0;
    }
  .header_menu {
    display: block;
    }
  .nav_list {
    text-align: left;
    }
  .main-visual-content-location {
    width: 80%;
    }
  #menu li a {
    font-size: 18px;
  }
  #menu li ul li a{
  font-size: 18px;
  }
#menu li:hover > a{
  font-size: 18px;
  font-weight: bold;
  }
}


@media (min-width:426px) and(max-width: 767px) {
  .space {
    padding: 80px 0 0 0;
    }
  h1.curry{
    font-size: 40px;
    }
  .curry {
    width: 55%;
    padding: 30px 0;
    }
  .header_menu {
    display: block;
    }
  .nav_list {
    text-align: left;
    }
  .main-visual-content-location {
    width: 80%;
    }
  #menu li a {
    font-size: 18px;
    }
  #menu li ul li a{
  font-size: 18px;
    }
  #menu li:hover > a{
  font-size: 18px;
  font-weight: bold;
  }
}

  @media (min-width:768px) and(max-width: 1023px) {
  .space {
    padding: 160px 0 0 0;
    }
}

@media (min-width:1024px) and(max-width: 2000px) {
  h1.curry{
    font-size: 40px;
    }
  .curry {
    padding: 20px 0;
    }
}