<%= render 'layouts/main-visual' %>
<div class="space"> <!--これを入れて、スペースを確保している。 -->
  <div class="main-visual-content">

  </div>
</div>
</div><!--部分テンプレートのmein-visualのdivをここで閉じている。これを消すと、footerが上に行ってしまう。-->
<%= render 'layouts/footer' %>